<style type="text/css">
  * {
    font-family: 'UnifrakturMaguntia', Iconsolata;
  }

  .is-6 {
    text-decoration-color: #3273dc !important;
    color: #3273dc !important;
  }
  .is-4 {
    text-decoration-color: #3273dc !important;
    color: #3273dc !important;
  }
  .pi-font {
    font-family: Fira+Sans !important;
  }
  .navbar {
    align-items: center !important;
    background-color: #ff3860 !important;
  }
  .nav-center {
    background-color: #ff3860 !important;

  }
  nav.nav-center ul {
  text-align: center;
  background-color: #ff3860 !important;
}
nav.nav-center ul li {
  display: inline;
  float: none;
  background-color: #ff3860 !important;

}
nav.nav-center ul li a {
  display: inline-block;
  background-color: #ff3860 !important;

}

.navbar-item {
  text-decoration-color: #fff !important;
  color: #fff !important;

}


</style>
